rden at home:</h2>
  2 <%= form_for([@gardener.group, @gardener]) do |g| %>
    3     <p>
      4 
        5 
          6           <%= g.label :garden_at_home %> <br>
            7           <%= g.text_field :garden_at_home %>
              8           </p>
                9 
                 10           <%= g.submit, "continue" %>
               ~                                                                                                                                                          :x

